body {
margin: 0;
padding: 0;

}
* {
margin: 0;
padding: 0;
}
a{
color:inherit;
text-decoration: none;
}
.clearfix {
	content: '';
	display: inline-block;
	clear: both;
}
/* 1 */
.siteAbout {
	background: #FDFCFD;
	max-height: 624px;
}
.background {
	display: flex;
	justify-content: space-between;
	
}
.witer {
	width: 63.5%;
	height: 624px;
	background: #FDFCFD;
}
.blue {
	width: 36.5%;
	background: #999;
	height: 624px;
	background: #29fbf8;
}
.logos {
	display: flex;
	justify-content: space-between;
	margin-top: -610px;
}
.logoicon{
	text-align: center;
	font-size: 60px;
	margin-left: 30px;
	width: 1em; height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
}
.navicon{
	color: white;
	text-align: center;
	font-size: 30px;
	width: 1em; height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	margin-right: 30px;
	margin-top: 15px;
}
.content {
	width: 800px;
	display: flex;
    justify-content: space-between;
	height: 624px;
	margin: auto;
	margin-top: -54px;
}
.headPhoto {
	
	max-height: 624px;
    
    background-size: cover;
    /*margin-left: 50%;*/
  
}
.content > .headText {
	margin-top: 200px;
}
.content > .headText > .hello {
	color: #8A8FA3;
	font-size: 20px;
	margin-bottom: 4px;
}
.content > .headText > .name {
	color: #29fbf8;
	font-weight: bold;
	font-size: 40px;
	margin-bottom: 10px;
}
.content > .headText > .job {
	color: #565656;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 40px;
}
.content > .headText > .pdf {
	color: #29fbf8;
	border: 1px solid #29fbf8;
	height: 46px;
	width: 160px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: box-shadow 0.2s;
}
.pdf:hover{
	box-shadow:1px 1px 1px 0px #29fbf8;
}
.content > .headText > .download {
	font-size: 14px;
	font-weight: bold;	
}

/* 2 */
.aboutMes {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}
.aboutMe {
	width: 800px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;

	
}
.aboutPohto {
    float: left;
}
.small {
	width:300px;
    height:400px;
    padding:15px;
box-sizing:border-box;/*定义为盒模型，即宽度包含边框和填充。*/
background-color: #29fbf8;/*div设置背景颜色，这里的颜色其实就是padding需要的颜色*/
}
.verySmall {
	width: 100%;
	height: 100%;
	background-color: white;
}
.blackPhoto {
	width: 300px;
	height: 400px;
	background: #FEFEFF;
    box-shadow:2px 2px 5px 0px rgba(0,0,0,0.2);
    margin-left: 40px;
    margin-top: -440px;
}
.black {
	margin: 15px 15px;
}

.line {
	width: 80px;
	height: 2px;
	background: #29fbf8;
	margin-bottom: 35px;
}
.aboutText {
	width: 380px;
	line-height: 30px;
	font-size: 12px;
	float: right;
}
.aboutMeText {
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 18px;
}
.information {
	margin-top: 15px;
	flex-direction: column;
}

.email {
	font-size: 14px;
	border: 1px solid #29fbf8;
	text-align: center;
	width: 220px;
	border-radius: 5px;
	margin-top: 45px;
}

.number {
	font-size: 14px;
	width: 220px;
	border-radius: 5px;
	margin-right: 150px;
	border: 1px solid #29fbf8;
	text-align: center;
	margin-top: 45px;
}

/* 3 */
.skillContents {
	width: 100%;
	height: 880px;
	background: #fdfcfd;
}
.skills {
	background: #fdfcfd;
	width: 800px;
	height: 880px;
	margin: 0 auto;
}
.skillText {
    
	height: 175px;
	margin-top: 80px;
}

.skill {
	font-weight: bold;
	font-family: monospace;
	font-size: 36px;
	margin-bottom: 18px;
}
.line1 {
	width: 60px;
	height: 2px;
	background: #29fbf8;
	margin-bottom: 10px;
}
.noun {
	width: 550px;
	line-height: 30px;
	font-size: 10px;
}
.skillPhotos{
	width: 800px;
	margin:0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.skillPhoto{
	width: calc(50% - 10px);
	height: 300px;
	background-image: url(./skill.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.mask1{
	height: 300px;
	border-radius: 15px;
    background: linear-gradient(to right, rgba(110,222,250,0.95) 0%,rgba(103,206,249,0.95) 50%,rgba(103, 204, 247, 0.95) 51%,rgba(57, 169, 243, 0.95) 100%);
}
.mask2 {
	height: 300px;
	border-radius: 15px;
    background:linear-gradient(to right, rgba(255,214,94,0.95) 0%,rgba(255,214,94,0.95) 50%,rgba(255,214,94,0.95) 51%,rgba(254,191,4,0.95) 100%);
}
.mask3 {
    height: 300px;
	border-radius: 15px;
    background:linear-gradient(to right, rgba(224,97,175,0.95) 0%,rgba(218,101,189,0.95) 50%,rgba(218,101,189,0.95) 51%,rgba(203,104,210,0.95) 100%);
}
.mask4 {
height: 300px;
	border-radius: 15px;
    background: linear-gradient(to right, rgba(118,247,246,0.95) 0%,rgba(80,244,242,0.95) 50%,rgba(80,244,242,0.95) 51%,rgba(0,242,238,0.95) 100%);
}
.skillContent{
    border: 1px solid red;
    margin-top: -260px;
    
}
.icon{ 
color: white;
text-align: center;
font-size: 40px;
margin-left: 20px;
width: 1em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       margin-bottom: 10px;
 }
.skillName{
	font-weight: bold;
	font-size: 22px;
	color: white;
	margin-left: 20px;
    margin-bottom: 15px;
   
}
  

  /* 第四页 */
  .works {
  	width: 800px;
	height: 750px;
	margin: 0 auto;
  }
  .workText {
  	height: 175px;
	margin-top: 40px;
  }
  .work {
  	font-weight: bold;
	font-family: monospace;
	font-size: 36px;
	margin-bottom: 18px;
  }
  .workNoun {
  	width: 550px;
	line-height: 30px;
	font-size: 10px;
  }
  .swiper-container {
      width: 100%;
      height: 45%;
      background: #000;
    }
    .swiper-slide {
      font-size: 18px;
      color:#fff;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 40px 60px;
    }
    .parallax-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 130%;
      height: 100%;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
    }
    .swiper-slide .title {
      font-size: 41px;
      font-weight: 300;
    }
    .swiper-slide .subtitle {
      font-size: 21px;
    }
    .swiper-slide .text {
      font-size: 14px;
      max-width: 400px;
      line-height: 1.3;
    }






